{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista Piłkarzy</title>
</head>
<body>
    <h1>Lista Piłkarzy</h1>
    <table>
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Pozycja</th>
                <th>Wiek</th>
                <th>Zespół</th>
            </tr>
        </thead>
        <tbody>
            {% for player in page_obj %}
                <tr>
                    <td>{{ player.first_name }}</td>
                    <td>{{ player.last_name }}</td>
                    <td>{{ player.position }}</td>
                    <td>{{ player.age }}</td>
                    <td>{{ player.team.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step_links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
{% endblock content %}